.article__link {
    display: block;
    text-align: center;
    text-decoration: none;
}

.article__image {
    max-width: 400px;
}

.article__title {
    text-decoration: none;
    color: cadetblue;
}
